<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="DTO.Properties.Settings.dbSistemaConnectionString"
            connectionString="Data Source=PC\SQLEXPRESS;Initial Catalog=dbSistema;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>